BOT_TOKEN=PUT_YOUR_TOKEN_HERE
ADMIN_ID=6131512280
SUPPORT_USERNAME=samosawithchatni
SUPPORT_URL=https://t.me/samosawithchatni
UPI_ID=alphajip1@naviaxis
UPI_NAME=ARYAN SANTOSH SINGH
WHOLESALE_DISCOUNT=0.10
SUPPLIER_MODE=empty
ADMIN_PIN=
